<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSS475_Database_UI.Properties.Settings.CSS475ConnectionString"
            connectionString="Data Source=css475-10.database.windows.net;Initial Catalog=CSS475;Persist Security Info=True;User ID=css475"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>